.dark-mode {
  .container {
    @extend %night-border;
    background-color: $seventh-color;
    header {
      nav {
        #logo {
          content: url('../assets/logo-mobile-modo-noct.svg');
        }
        .burguer-menu {
          content: url('../assets/burger-modo-noct.svg');
        }
        .close-burguer-menu {
          content: url('../assets/close-modo-noct.svg');
        }
        .cover-menu {
          background-color: $fourth-color;
          .menu-item {
            color: $second-color;
          }
          .plus-menu-item {
            content: url('../assets/CTA-crear-gifo-modo-noc.svg');
            &:hover {
              content: url('../assets/CTA-crear-gifo-hover-modo-noc.svg');
            }
            &:active {
              content: url('../assets/CTA-crear-gifo-active-modo-noc.svg');
            }
          }
        }
      }
      background-color: $seventh-color;
    }
    main {
      .gifos {
        .message {
          color: $second-color;
        }
        .search-gifo-section {
          border: 1px solid $second-color;
          background-color: $seventh-color;
          #search-gifos {
            background-color: $seventh-color;
            color: $second-color;
          }
          .search-icon {
            content: url('../assets/icon-search-modo-noct.svg');
            &:hover {
              cursor: pointer;
            }
          }
          .close-search-icon {
            content: url('../assets/close-modo-noct.svg');
          }
        }
        .trending {
          span {
            color: $second-color;
          }
          .trending-search-term {
            a {
              color: $second-color;
            }
          }
        }
        #gifos-grid {
          h2 {
            color: $second-color;
          }
        }
        #gifos-see-more {
          .box-see-more {
            .see-more {
              border: 1px solid $second-color;
              color: $second-color;
            }
          }
        }
      }
      .favorite {
        .favorite-container {
          span {
            color: $second-color;
          }
        }
        .more-favorite {
          span {
            border: 1px solid $second-color;
            color: $second-color;
          }
        }
      }
      .gifos-container {
        .gifos-mine {
          span {
            color: $second-color;
          }
        }
        .more-gifos {
          span {
            border-color: $second-color;
            color: $second-color;
          }
        }
      }
      .giphy-container {
        .recorder-container {
          .camera-container {
            .camera-image {
              content: url('../assets/camara-modo-noc.svg');
            }
          }
          .outer-recorder {
            .inner-recorder {
              .text-container {
                .first-text {
                  color: $second-color;
                }
                .second-text {
                  color: $second-color;
                }
                .third-text {
                  color: $second-color;
                }
              }
            }
          }
          .recorder-steps {
            .step {
              border-color: $second-color;
              .number-step {
                color: $second-color;
              }
            }
            .timer {
              color: $second-color;
            }
            .repeat-recorder {
              color: $second-color;
            }
            .movie {
              content: url('../assets/pelicula-modo-noc.svg');
            }
          }
        }
        .recorder {
          border-color: $second-color;
          .text-recorder {
            color: $second-color;
          }
        }
      }
      .community-gifos {
        background-color: $eighth-color;
        h2 {
          color: $second-color;
        }
        .community-message {
          span {
            color: $second-color;
          }
        }
        .gallery-container {
          .move-left-container {
            .move-left {
              content: url('../assets/button-slider-left-md-noct.svg');
              &:hover {
                content: url('../assets/button-slider-left-hover.svg');
              }
            }
          }
          .move-right-container {
            .move-right {
              content: url('../assets/button-slider-right-md-noct.svg');
              &:hover {
                content: url('../assets/Button-Slider-right-hover.svg');
              }
            }
          }
        }
      }
    }
    footer {
      .social-media-section {
        span {
          color: $second-color;
        }
        #facebook {
          content: url('../assets/icon_facebook_noc.svg');
        }
        #twitter {
          content: url('../assets/icon_twitter_noc.svg');
        }
        #instagram {
          content: url('../assets/icon_instagram_noc.svg');
        }
        .copyright {
          color: $second-color;
        }
      }
    }
  }
}
