footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  span {
    @include gifos-font($second-font, $fourth-color, 15px, 400);
    line-height: 18px;
    margin-top: 47px;
    text-align: center;
  }
  .social-media-icon {
    display: flex;
    justify-content: space-evenly;
    margin: 24px auto 0 auto;
    width: 40vw;
    img {
      height: 20px;
      width: 20px;
    }
  }
  .copyright {
    @include gifos-font($second-font, $fourth-color, 14px, 400);
    line-height: 20px;
    text-align: center;
    margin-bottom: 23px;
  }
}
