header {
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 95px;
    .cover-menu {
      @include gradient-opacity(0.9);
      height: 100vh;
      display: none;
      position: absolute;
      top: 95px;
    }
    .display-cover-menu {
      display: block;
    }
    #logo {
      content: url("/assets/logo-mobile.svg");
      padding: 5vw 0 2.9vw 5.9vw;
    }
    .burguer-menu {
      cursor: pointer;
      padding: 8vw 11vw 5.8vw 0;
      content: url("../assets/burger.svg");
    }
    .close-burguer-menu {
      content: url("../assets/close.svg");
    }
    ul {
      display: flex;
      flex-direction: column;
      width: 100vw;
      justify-content: center;
      align-items: center;
      padding-top: 17.2px;
      li {
        cursor: pointer;
        list-style: none;
        padding-top: 17px;
        .menu-item {
          width: 100vw;
          text-decoration: none;
          text-transform: capitalize;
          @include gifos-font($first-font, $second-color, 15px, 700);
          span {
            text-transform: uppercase;
          }
        }
        .menu-separator {
          padding-top: 2.9vh;
          width: 10.9vw;
          margin: auto;
          border-bottom: 1px solid $second-color;
          opacity: 0.5;
        }
      }
      .plus-menu-item {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  header {
    nav {
      justify-content: space-between;
      .burguer-menu {
        display: none;
      }
      #logo {
        padding-top: 3vw;
      }
      .cover-menu {
        display: block;
        height: inherit;
        background: transparent !important;
        position: unset;
        padding: 1vh 7.1vw 1vh 0;
        ul {
          flex-direction: row;
          justify-content: space-between;
          padding-top: unset;
          width: 50vw;
          li {
            .menu-item {
              color: $first-color;
              font-size: 13px;
              text-transform: uppercase;
              &:hover {
                text-decoration: underline;
                text-decoration-color: $third-color;
                text-decoration-thickness: 2px;
              }
              &:active {
                color: $active-color;
                text-decoration: none;
              }
            }
            .menu-separator {
              display: none;
            }
          }
          .plus-menu-item {
            display: block;
            &:hover {
              content: url("../assets/CTA-crear-gifo-hover.svg");
            }
            &:active {
              content: url("../assets/CTA-crear-gifo-active.svg");
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $laptop) {
  header {
    nav {
      #logo {
        padding-top: 1.5vw;
        content: url("/assets/logo-desktop.svg");
      }
      .cover-menu {
        ul {
          width: 40vw;
        }
      }
    }
  }
}
