main {
  .gifos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    .message {
      @include gifos-font($first-font, $first-color, 25px, 700);
      line-height: 33px;
      width: 75vw;
      padding-top: 7px;
      text-align: center;
      span {
        text-transform: uppercase;
        color: $third-color;
      }
    }
    .night-message {
      color: $second-color;
    }
    .main-image {
      margin-top: 31px;
      width: 72.8%;
      height: 10.8%;
    }
    .search-gifo-section {
      display: flex;
      justify-content: center;
      border: 1px solid $first-color;
      background-color: $second-color;
      border-radius: 27px;
      width: 89.1%;
      flex-wrap: wrap;
      .search-bar {
        display: flex;
        justify-content: space-between;
        height: 4.2%;
        width: 89.1%;
        #search-gifos {
          width: 57.3%;
          height: 1.8%;
          @include gifos-font($second-font, $fourth-color, 1rem, 400);
          text-align: left;
          line-height: 19px;
          border-style: hidden;
          outline: none;
          margin: 1.2vh 0 1.1vh -5vw;
          &::placeholder {
            @include gifos-font($second-font, $fifth-color, 1rem, 400);
            text-align: left;
            line-height: 19px;
          }
        }
        #search-icon {
          margin-right: 5.3%;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .typo-search-icon {
        opacity: 0;
        margin-left: 5vw;
      }
      .show-typo-search-icon {
        opacity: 1;
      }
      .sugestion-section {
        display: none;
        .gif-sugestion {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          .sugestion-separator {
            border: 1px solid $active-color;
            margin: 12px 0 14px 10vw;
            opacity: 0.5;
            width: 75vw;
          }
          display: flex;
          justify-content: left;
          align-items: center;
          width: 89.1vw;
          .sugestion-block {
            display: flex;
            justify-content: left;
            align-items: center;
            .search-icon-sugestion {
              width: 20px;
              height: 38px;
              margin-left: 10vw;
            }
            .sugestion {
              cursor: pointer;
              @include gifos-font($second-font, $active-color, 1rem, 400);
              width: 80vw;
              margin-left: 5vw;
            }
          }
        }
      }
      .show-sugestion-section {
        display: block;
        padding-bottom: 18px;
      }
    }
    .night-search-gifo-section {
      border: 1px solid $second-color;
      background-color: $seventh-color;
      #search-gifos {
        background-color: $seventh-color;
      }
      #search-icon {
        content: url('/assets/icon-search-modo-noct.svg');
        &:hover {
          cursor: pointer;
        }
      }
    }
    .trending {
      margin-top: 31px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        @include gifos-font($first-font, $first-color, 1rem, 700);
        text-transform: capitalize;
        width: 236px;
        height: 25px;
        line-height: 25px;
        text-align: center;
      }
      p {
        margin-top: 2px;
        width: 225px;
        height: 50px;
        @include gifos-font($first-font, $first-color, 14px, 500);
        line-height: 25px;
        text-transform: capitalize;
        text-align: center;
      }
    }
    .night-trending {
      span {
        color: $second-color;
      }
      p {
        color: $second-color;
      }
    }
    .hide-treding {
      display: none;
    }
    #gifos-grid {
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 90vw;
      margin-bottom: 20px;
      .gifos-separator {
        margin-top: 35px;
        border: 1px solid $active-color;
        width: 121px;
      }
      h2 {
        @include gifos-font($first-font, $first-color, 25px, 700);
        line-height: 40px;
        margin-top: 43px;
        width: 100vw;
        margin-bottom: 38px;
        text-transform: capitalize;
      }
      img {
        height: 40vw;
        width: 40vw;
        margin-bottom: 5%;
      }
      .message {
        @include gifos-font($first-font, $third-color, 1rem, 700);
        margin-top: 29px;
        line-height: 25px;
      }
    }
    #gifos-see-more {
      display: flex;
      justify-content: center;
      text-align: center;
      .box-see-more {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 78px;
        .see-more {
          border: 1px solid $first-color;
          border-radius: 25px;
          height: 50px;
          @include gifos-font($first-font, $first-color, 13px, 700);
          line-height: 16px;
          width: 127px;
          padding-top: 18.5px;
        }
      }
    }
  }
  .community-gifos {
    margin-top: 45px;
    padding-bottom: 82px;
    background-color: $sixth-color;
    display: flex;
    flex-direction: column;
    h2 {
      @include gifos-font($first-font, $first-color, 20px, 700);
      line-height: 30px;
      padding-top: 46px;
      text-align: center;
    }
    .community-message {
      display: flex;
      flex-direction: column;
      span {
        @include gifos-font($second-font, $fourth-color, 1rem, 400);
        line-height: 23px;
        margin-top: 7px;
        text-align: center;
      }
    }
    .gallery-container {
      display: flex;
      overflow: scroll;

      #move-left {
        display: none;
        height: 40px;
        width: 40px;
        content: url('/assets/button-slider-left.svg');
        border: 1px solid blue;
      }
      .gallery-gif {
        margin-top: 32px;
        padding: 0px 5.9vw;
        display: flex;
        justify-content: space-evenly;
        .img-group {
          position: relative;
          .gif {
            height: 187px;
            width: 243px;
            margin-left: 2vw;
            cursor: pointer;
            &:hover + .img-cover {
              display: block;
            }
          }
          .img-cover {
            height: 187px;
            width: 243px;
            @include gradient-opacity(0.6);
            position: absolute;
            margin-left: inherit;
            margin-left: 2vw;
            top: 0;
            display: none;
            &:hover {
              display: block;
            }
            .img-action {
              display: flex;
              justify-content: flex-end;
              img {
                padding-top: 10px;
                height: 32px;
                width: 32px;
                cursor: pointer;
              }
              .action-favorite {
                &:hover {
                  content: url('../assets/icon-fav-hover.svg');
                }
                &:active {
                  content: url('../assets/icon-fav-active.svg');
                }
              }
              .action-download {
                &:hover {
                  content: url('../assets/icon-download-hover.svg');
                }
              }
              .action-maximize {
                &:hover {
                  content: url('../assets/icon-max-hover.svg');
                }
              }
            }
          }
        }
      }
      #move-right {
        display: none;
        height: 40px;
        width: 40px;
        content: url('/assets/button-slider-right.svg');
      }
    }
  }
  .night-community-gifos {
    background-color: $eighth-color;
    h2 {
      color: $second-color;
    }
    .community-message {
      span {
        color: $second-color;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  main {
    .gifos {
      margin-top: 76px;
      .message {
        font-size: 35px;
        line-height: 50px;
        text-align: center;
      }
      .main-image {
        width: 50vw;
      }
      .search-gifo-section {
        width: 75vw;
        #search-gifos {
          width: 40vw;
          height: 50px;
          margin-left: 10vw;
        }
      }
      .trending {
        margin-top: 73px;
        span {
          font-size: 18px;
          line-height: 25px;
        }
        p {
          margin-top: 7px;
          width: 402px;
          height: 25px;
          font-size: 1rem;
          text-transform: capitalize;
          text-align: center;
        }
      }
    }
    .community-gifos {
      margin-top: 95px;
      padding-bottom: 95px;
      h2 {
        font-size: 25px;
        padding-top: 67px;
        text-align: center;
      }
      .community-message {
        flex-direction: row;
        justify-content: center;
        span {
          font-size: 18px;
          line-height: 21px;
          margin-right: 1vh;
        }
      }
      .gallery-container {
        position: relative;
        .gallery-gif {
          .img-group {
            .gif {
              height: 275px;
              width: 357px;
            }
            .img-cover {
              height: 275px;
              width: 357px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $laptop) {
  main {
    .community-gifos {
      .gallery-container {
        #move-left {
          display: block;
        }
        #move-right {
          display: block;
        }
      }
    }
  }
}
