main {
  .gifos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .message {
      @include gifos-font($first-font, $first-color, 25px, 700);
      line-height: 33px;
      width: 75vw;
      padding-top: 7px;
      text-align: center;
      span {
        text-transform: uppercase;
        color: $third-color;
      }
    }
    .main-image {
      margin-top: 31px;
      width: 72.8%;
      height: 10.8%;
    }
    .search-gifo-section {
      display: flex;
      justify-content: center;
      border: 1px solid $first-color;
      background-color: $second-color;
      border-radius: 27px;
      width: 89.1%;
      flex-wrap: wrap;
      .search-bar {
        display: flex;
        justify-content: space-between;
        height: 4.2%;
        width: 89.1%;
        #search-gifos {
          width: 57.3%;
          height: 1.8%;
          @include gifos-font($second-font, $fourth-color, 1rem, 400);
          text-align: left;
          line-height: 19px;
          border-style: hidden;
          outline: none;
          margin: 1.2vh 0 1.1vh -5vw;
          &::placeholder {
            @include gifos-font($second-font, $fifth-color, 1rem, 400);
            text-align: left;
            line-height: 19px;
          }
        }
        .search-icon {
          margin-right: 5.3%;
          content: url('/assets/icon-search.svg');
          &:hover {
            cursor: pointer;
          }
        }
        .close-search-icon {
          content: url('/assets/close.svg');
        }
      }
      .typo-search-icon {
        opacity: 0;
        margin-left: 5vw;
        content: url('/assets/icon-search-type.svg');
      }
      .show-typo-search-icon {
        opacity: 1;
      }
      .sugestion-section {
        display: none;
        .gif-sugestion {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          width: 89.1vw;
          .sugestion-separator {
            border: 1px solid $active-color;
            margin: 12px 0 14px 10vw;
            opacity: 0.5;
            width: 70vw;
          }

          .sugestion-block {
            display: flex;
            justify-content: left;
            align-items: center;
            width: 100%;
            .search-icon-sugestion {
              width: 20px;
              height: 38px;
              margin-left: 10vw;
            }
            .sugestion {
              cursor: pointer;
              @include gifos-font($second-font, $active-color, 1rem, 400);
              width: 80%;
              margin-left: 5vw;
            }
          }
        }
      }
      .show-sugestion-section {
        display: block;
        padding-bottom: 18px;
      }
    }
    .trending {
      margin-top: 31px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        @include gifos-font($first-font, $first-color, 1rem, 700);
        text-transform: capitalize;
        width: 236px;
        height: 25px;
        line-height: 25px;
        text-align: center;
      }
      .trending-search-term {
        margin-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 225px;
        a {
          @include gifos-font($first-font, $first-color, 14px, 500);
          line-height: 25px;
          text-transform: capitalize;
          margin: 0 3px;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    .hide-treding {
      display: none;
    }
    #gifos-grid {
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 90vw;
      .gifos-separator {
        margin-top: 35px;
        border: 1px solid $active-color;
        width: 121px;
      }
      h2 {
        @include gifos-font($first-font, $first-color, 25px, 700);
        line-height: 40px;
        margin-top: 43px;
        width: 100vw;
        margin-bottom: 38px;
        text-transform: capitalize;
      }
      .img-group {
        img {
          height: 40vw;
          width: 40vw;
          margin-bottom: 3%;
        }
        .img-cover {
          display: none;
        }
      }

      .message {
        @include gifos-font($first-font, $third-color, 1rem, 700);
        margin-top: 29px;
        line-height: 25px;
      }
    }
    #gifos-see-more {
      display: flex;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      .box-see-more {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 78px;
        .see-more {
          border: 1px solid $first-color;
          border-radius: 25px;
          height: 50px;
          @include gifos-font($first-font, $first-color, 13px, 700);
          line-height: 16px;
          width: 127px;
          padding-top: 18.5px;
          &:hover {
            background: $first-color;
            color: $second-color;
          }
        }
      }
    }
  }
  .community-gifos {
    margin-top: 45px;
    padding-bottom: 82px;
    background-color: $sixth-color;
    display: flex;
    flex-direction: column;
    h2 {
      @include gifos-font($first-font, $first-color, 20px, 700);
      line-height: 30px;
      padding-top: 46px;
      text-align: center;
    }
    .community-message {
      display: flex;
      flex-direction: column;
      span {
        @include gifos-font($second-font, $fourth-color, 1rem, 400);
        line-height: 23px;
        margin-top: 7px;
        text-align: center;
      }
    }
    .gallery-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 10px;
      margin-top: 53px;
      .move-left-container {
        .move-left {
          margin-right: 8px;
          display: none;
          height: 40px;
          width: 40px;
          content: url('/assets/button-slider-left.svg');
        }
      }
      .trending-container {
        display: flex;
        justify-content: flex-start;
        box-sizing: content-box;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          width: 0px;
        }
        .img-group {
          img {
            padding: 0 5px;
            height: 187px;
            width: 243px;
          }
          .img-cover {
            display: none;
          }
        }
      }
      .move-right-container {
        .move-right {
          margin-left: 8px;
          display: none;
          height: 40px;
          width: 40px;
          content: url('/assets/button-slider-right.svg');
        }
      }
    }
  }
  .community-gifos-hidden {
    display: none;
  }
}

@media screen and (min-width: $tablet) {
  main {
    .gifos {
      margin-top: 76px;
      .message {
        font-size: 35px;
        line-height: 50px;
        text-align: center;
        width: 75vw;
      }
      .main-image {
        width: 50vw;
      }
      .search-gifo-section {
        width: 60vw;
        justify-content: left;
        .search-bar {
          width: inherit;
          .search-icon {
            margin-right: 5vw;
          }
          .close-search-icon {
            margin-right: 5vw;
          }
        }
        .sugestion-section {
          .gif-sugestion {
            width: 30vw;
            flex-direction: column;
            align-items: center;
            .sugestion-separator {
              width: 50vw;
              margin-left: 5vw;
            }
            .sugestion-block {
              width: 45vw;
              .search-icon-sugestion {
                margin-left: 0;
              }
              .sugestion {
                margin-left: 3vw;
              }
            }
          }
        }
      }
      .trending {
        margin-top: 73px;
        span {
          font-size: 18px;
          line-height: 25px;
        }
        .trending-search-term {
          margin-top: 7px;
          width: 402px;
          height: 25px;
          font-size: 1rem;
          text-transform: capitalize;
          text-align: center;
          a {
            font-size: 1rem;
          }
        }
      }
      #gifos-grid {
        margin-top: 5vw;
        .img-group {
          position: relative;
          img {
            width: 28vw;
            height: 28vw;
            margin-bottom: 2%;
            &:hover + .img-cover {
              display: block;
            }
          }
          .img-cover {
            width: 28vw;
            height: 28vw;
            background: $first-color-opacity;
            position: absolute;
            top: 0;
            display: none;
            &:hover {
              display: block;
            }
            .img-action-container {
              display: flex;
              justify-content: flex-end;
              margin-right: 8px;
              img {
                margin-top: 10px;
                width: 32px;
                height: 32px;
                margin-left: 8px;
              }
              .favorite-action {
                content: url('/assets/icon-fav.svg');
                &:hover {
                  content: url('/assets/icon-fav-hover.svg');
                }
                &:active {
                  content: url('/assets/icon-fav-active.svg');
                }
              }
              .download-action {
                content: url('/assets/icon-download.svg');
                &:hover {
                  content: url('/assets/icon-download-hover.svg');
                }
              }
              .expand-action {
                content: url('/assets/icon-max-normal.svg');
                &:hover {
                  content: url('/assets/icon-max-hover.svg');
                }
              }
            }
            .gifo-description {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              text-align: start;
              margin-top: 80px;
              margin-left: 20px;
              .gifo-user {
                width: 90%;
                @include gifos-font($second-font, $second-color, 15px, 400);
              }
              .gifo-title {
                margin-top: 10px;
                text-align: start;
                padding-top: 0;
                width: 90%;
                @include gifos-font($second-font, $second-color, 15px, 700);
                line-height: 1rem;
              }
            }
          }
        }
      }
    }
    .community-gifos {
      margin-top: 95px;
      padding-bottom: 95px;
      h2 {
        font-size: 25px;
        padding-top: 67px;
        text-align: center;
      }
      .community-message {
        flex-direction: row;
        justify-content: center;
        span {
          font-size: 18px;
          line-height: 21px;
          margin-right: 1vh;
        }
      }
      .gallery-container {
        overflow: hidden;
        .move-left-container {
          display: flex;
          justify-content: flex-end;
          width: 10%;
          .move-left {
            display: block;
            &:hover {
              content: url('/assets/button-slider-left-hover.svg');
            }
          }
        }
        .trending-container {
          width: 80%;
          .img-group {
            position: relative;
            img {
              height: 275px;
              width: 357px;
              &:hover + .img-cover {
                display: block;
              }
            }
            .img-cover {
              display: none;
              background: $first-color-opacity;
              height: 275px;
              width: 348px;
              position: absolute;
              top: 0;
              left: 5px;
              &:hover {
                display: block;
              }
              img {
                margin-top: 10px;
                width: 32px;
                height: 32px;
              }
              .img-action-container {
                display: flex;
                justify-content: flex-end;
                margin-right: 8px;
                .favorite-action {
                  content: url('/assets/icon-fav.svg');
                  &:hover {
                    content: url('/assets/icon-fav-hover.svg');
                  }
                  &:active {
                    content: url('/assets/icon-fav-active.svg');
                  }
                }
                .download-action {
                  content: url('/assets/icon-download.svg');
                  &:hover {
                    content: url('/assets/icon-download-hover.svg');
                  }
                }
                .expand-action {
                  content: url('/assets/icon-max-normal.svg');
                  &:hover {
                    content: url('/assets/icon-max-hover.svg');
                  }
                }
              }
              .gifo-description {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 130px;
                padding-left: 20px;
                .gifo-user {
                  width: 90%;
                  @include gifos-font($second-font, $second-color, 15px, 400);
                }
                .gifo-title {
                  text-align: start;
                  padding-top: 0;
                  width: 90%;
                  @include gifos-font($second-font, $second-color, 15px, 700);
                }
              }
            }
          }
        }
        .move-right-container {
          display: flex;
          justify-content: flex-start;
          width: 10%;
          .move-right {
            display: block;
            &:hover {
              content: url('/assets/Button-Slider-right-hover.svg');
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $laptop) {
  main {
    .gifos {
      .message {
        width: 600px;
      }
      #gifos-grid {
        .img-group {
          margin-bottom: 1.5%;
          img {
            width: 20vw;
            height: 20vw;
          }
          .img-cover {
            width: 20vw;
            height: 20vw;
            .gifo-description {
              margin-top: 140px;
            }
          }
        }
      }
      .search-gifo-section {
        .search-bar {
          #search-gifos {
            margin-left: -6vw;
          }
        }
      }
    }
    .community-gifos {
      .gallery-container {
        #move-left {
          display: block;
        }
        #move-right {
          display: block;
        }
      }
    }
  }
}
