@mixin gifos-font($font, $color, $size, $weight) {
  font-family: $font;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin gradient-opacity($opacity) {
  background: rgba(87, 46, 229, $opacity);
}
