//Google Fonts
//Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
//Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//color light
$first-color: #572ee5;
$second-color: #fff;
$third-color: #5ed7c6;
$fourth-color: #000;
$fifth-color: #6b7989;
$sixth-color: #f3f5f8;
$active-color: #9cafc3;

//color night
$seventh-color: #37383c;
$eighth-color: #222326;

//font
$first-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;

//viewport width
$mobile: 320px;
$tablet: 768px;
$laptop: 1024px;
